<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Previsões census</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Idade</label>
                                        <input type="text" id="first-name-column" class="form-control"
                                               placeholder="" name="age">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">classe de trabalho</label>
                                        <input type="text" id="last-name-column" class="form-control"
                                               placeholder="" name="workclass">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="city-column">Peso final</label>
                                        <input type="text" id="city-column" class="form-control" placeholder=""
                                               name="final_weight">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="country-floating">Educação</label>
                                        <input type="text" id="country-floating" class="form-control"
                                               name="education" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="company-column">Educação numero</label>
                                        <input type="text" id="company-column" class="form-control"
                                               name="education_num" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Estado civil</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="marital_status" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="company-column">ocupação</label>
                                        <input type="text" id="company-column" class="form-control"
                                               name="occupation" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Relação</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="relationship" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Raça</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="race" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Sexo</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="sex" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Ganho de capital</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="capital_gain" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">perda de capital</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="capital_loos" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">hora por semana</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="hour_per_week" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Nacionalidade</label>
                                        <input type="text" id="email-id-column" class="form-control"
                                               name="native_country" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Previsão</label>
                                        <div>{{ previsao }}</div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
